#collection-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 1rem;
}

.collection-item-card-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 1rem;
}

section + button {
    margin-top: 10px;
    padding: 15px;
}