#collection-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 1rem;
}

.collection-item-card-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 1rem;
}


.centered {
    text-align: center;
    margin-top: 1rem;
}